body {
  /* background-color: hsl(210, 60%, 98%); */
  background-color: black;
}
.back {
  background-color: white;
  width: 45%;
  height: 580px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 10px;
}
.topic {
  display: flex;
  justify-content: space-between;
}
.topic h1 {
  font-size: 20px;
}
.topic span {
  background-color: hsl(224, 84%, 17%);
  color: white;
  padding: 3px;
  font-size: 15px;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.topic p {
  font-size: 13px;
  margin-top: 20px;
  opacity: 0.5;
}
.circle {
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 6px;
  margin-left: 5px;
}
.first-text {
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
}
.first-text-one {
  display: inline;
}
.first-text-one p {
  padding-top: 0;
  margin-top: 0;
}
.content {
  font-size: 15px;
}
