body {
  /* background-color: hsl(210, 60%, 98%); */
  background-color: hsl(210, 43%, 92%);
}
.back {
  background-color: white;
  width: 40%;
  height: 630px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
}
.topic {
  display: flex;
  justify-content: space-between;
}
.topic h1 {
  font-size: 20px;
  padding-left: 20px;
}
.topic span {
  background-color: hsl(224, 85%, 24%);
  color: white;
  padding: 3px;
  font-size: 15px;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.topic p {
  font-size: 13px;
  margin-top: 15px;
}
.topic p:hover {
  cursor: pointer;
  color: hsl(224, 85%, 24%);
}
.circle {
  background-color: red;
  height: 11px;
  width: 10px;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 5px;
}
.first-text {
  display: flex;
  padding-bottom: 0;
  margin-bottom: -15px;
}
.first-text-out {
  display: inline;
  padding-left: 10px;
}
.first-text-out p {
  padding-top: 0;
  margin-top: 0;
}
.content {
  font-size: 15px;
  background-color: hsl(210, 43%, 92%);
  width: 90%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 7px;
  padding: 15px;
  margin-bottom: 0;
  padding-bottom: 0;

  display: flex;
}
.content img {
  width: 35px;
  height: 35px;
}
.one {
  top: 70px;
}
.two {
  top: 140px;
}
.three {
  top: 210px;
}
.four {
  top: 280px;
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 0;
}
.five {
  top: 430px;
  background-color: white;
}
.six {
  top: 490px;
  background-color: white;
}
.seven {
  top: 560px;
  background-color: white;
}

.private-message {
  margin-top: 290px;
  border: 1px solid #e0e0e0;
  width: 85%;
  margin-left: 70px;
  padding: 10px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 1px;
}
.private-message:hover {
  background-color: hsl(210, 43%, 92%);
  cursor: pointer;
}
.chess {
  padding-left: 150px;
}
.chess:hover {
  cursor: pointer;
}
.active:hover {
  cursor: pointer;
  color: hsl(224, 85%, 24%);
}
.active {
  font-weight: bolder;
}
.state {
  opacity: 0.8;
}
